nav {
  height: 100vh;
  width: 200px;
  margin-left: -200px;
  background: #005f9a;
  color: white;
  transition: 0.3s all;
  position: sticky;
  top: 0;

  @include lg-phone {
    position: fixed;
    z-index: 3;
  }

  @include m-phone {
    position: fixed;
    z-index: 3;
  }

  @include sm-phone {
    position: fixed;
    z-index: 3;
  }

  .title-box {
    font-size: 15px;
    font-family: "Warownia", sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    text-align: center;
  }

  .current-user {
    margin-top: 10px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #3d82ad;
    border-bottom: 1px solid #3d82ad;
    padding: 10px;
    cursor: pointer;

    .user {
      align-items: center;
      img {
        width: 40px;
        height: 40px;
      }
      p {
        margin: 0;
        margin-left: 10px;
      }
    }
  }

  .user-box {
    justify-content: center;
    align-items: center;
    height: 0;
    overflow: hidden;
    background: white;
    border-right: 1px solid #005f9a;
    color: #005f9a;

    .user-list {
      transition: 0.5s all;
      text-align: center;
      width: 100%;
      font-family: "Poppins";
      font-size: 13px;
      padding: 10px;

      cursor: pointer;
    }

    .user-list:hover {
      background: #005f9a;
      color: white;
    }
  }
  .user-box.isActive {
    transition: 0.5s all;
    height: auto;
  }

  .links-box {
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;

    a {
      transition: 0.5s all;
      padding: 10px;
      width: 100%;
      margin: 0;
      font-family: "Poppins", sans-serif;
      text-decoration: none;
      color: white;
    }

    a.active {
      background: #3d82ad;
      font-weight: bold;
    }

    a:hover {
      background: #3d82ad;
    }
  }
}

nav.toggled {
  margin-left: 0;
}

header {
  height: 52px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #005f9a;
  color: white;
  align-items: center;
  transition: 0.3s all;
  z-index: 1;

  .bars {
    font-size: 20px;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0;
    transition: 0.5s all;
    cursor: pointer;
  }

  .bars:hover {
    background: #3d82ad;
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "h Hadir Sans";
    font-size: 20px;
  }
}

header.toggled {
  left: 200px;
}
