.overlay.user-list {
  top: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 11;

  .list-container {
    width: 800px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    transition: 0.3s all;
    max-height: 300px;

    @include tablet {
      width: 600px;
    }

    @include lg-phone {
      width: 400px;
      max-height: 300px;
      overflow: scroll;
    }

    @include m-phone {
      width: 280px;
      max-height: 300px;
      overflow: scroll;
    }

    @include sm-phone {
      width: 280px;
      max-height: 300px;
      overflow: scroll;
    }

    h1 {
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      margin: 0;
    }

    ul {
      padding-right: 40px;
      padding-left: 40px;
    }

    .list {
      width: 100%;
      list-style: none;
      justify-content: space-between;
      align-items: center;
      font-family: "Poppins", sans-serif;
      margin-bottom: 20px;

      .user-name {
        font-weight: 700;
        font-size: 20px;

        @include lg-phone {
          font-size: 18px;
        }

        @include m-phone {
          font-size: 18px;
        }

        @include sm-phone {
          font-size: 18px;
        }
      }

      a {
        text-decoration: none;
        background: #005f9a;
        color: white;
        border: 1px solid #005f9a;
        padding: 5px 10px;
        font-weight: 700;
        border-radius: 5px;
        transition: 0.3s all;
      }

      a:hover {
        background: white;
        color: #005f9a;
      }
    }
  }
}
