@import url("https://fonts.cdnfonts.com/css/poppins");
@import url("https://fonts.cdnfonts.com/css/bebas-neue");
@import url("https://fonts.cdnfonts.com/css/warownia");
@import url("https://fonts.cdnfonts.com/css/h-hadir-sans");
@import "./breakpoints";
@import "./navigation";
@import "./dashboard";
@import "./allmedia";
@import "./articleform";
@import "./userform";
@import "./companyform";
@import "./companylist";
@import "./userlist";
@import "./managearticle";
@import "./managecompany";
@import "./manageuser";

body {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}
